# Godot 4+ specific ignores
.godot/
/android/
addons/fancy_editor_sounds/FancyEditorSoundSettings.gd
addons/fancy_editor_sounds/FancyEditorSoundSettings.gd.uid
addons/fancy_editor_sounds/key_drop.gd
addons/fancy_editor_sounds/key_drop.gd.uid
addons/fancy_editor_sounds/key_drop.tscn
addons/fancy_editor_sounds/key_zap.gd
addons/fancy_editor_sounds/key_zap.gd.uid
addons/fancy_editor_sounds/key_zap.tscn
addons/fancy_editor_sounds/keyboard_sounds/badge-dink-max.wav
addons/fancy_editor_sounds/keyboard_sounds/badge-dink-max.wav.import
addons/fancy_editor_sounds/keyboard_sounds/button-hover.wav
addons/fancy_editor_sounds/keyboard_sounds/button-hover.wav.import
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-hover-megashort.wav
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-hover-megashort.wav.import
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-hover.wav
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-hover.wav.import
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-select.wav
addons/fancy_editor_sounds/keyboard_sounds/button-sidebar-select.wav.import
addons/fancy_editor_sounds/keyboard_sounds/check-off.wav
addons/fancy_editor_sounds/keyboard_sounds/check-off.wav.import
addons/fancy_editor_sounds/keyboard_sounds/check-on.wav
addons/fancy_editor_sounds/keyboard_sounds/check-on.wav.import
addons/fancy_editor_sounds/keyboard_sounds/date-impact.wav
addons/fancy_editor_sounds/keyboard_sounds/date-impact.wav.import
addons/fancy_editor_sounds/keyboard_sounds/default-hover.wav
addons/fancy_editor_sounds/keyboard_sounds/default-hover.wav.import
addons/fancy_editor_sounds/keyboard_sounds/deselect.wav
addons/fancy_editor_sounds/keyboard_sounds/deselect.wav.import
addons/fancy_editor_sounds/keyboard_sounds/key-confirm.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-confirm.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-delete.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-delete.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-invalid.wav
addons/fancy_editor_sounds/keyboard_sounds/key-invalid.wav.import
addons/fancy_editor_sounds/keyboard_sounds/key-movement.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-movement.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-press-1.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-press-1.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-press-2.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-press-2.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-press-3.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-press-3.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/key-press-4.mp3
addons/fancy_editor_sounds/keyboard_sounds/key-press-4.mp3.import
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-deeper.wav
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-deeper.wav.import
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-short.wav
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-short.wav.import
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-very-short.wav
addons/fancy_editor_sounds/keyboard_sounds/notch-tick-very-short.wav.import
addons/fancy_editor_sounds/keyboard_sounds/notch-tick.wav
addons/fancy_editor_sounds/keyboard_sounds/notch-tick.wav.import
addons/fancy_editor_sounds/keyboard_sounds/osd-change.wav
addons/fancy_editor_sounds/keyboard_sounds/osd-change.wav.import
addons/fancy_editor_sounds/keyboard_sounds/osd-off.wav
addons/fancy_editor_sounds/keyboard_sounds/osd-off.wav.import
addons/fancy_editor_sounds/keyboard_sounds/osd-on.wav
addons/fancy_editor_sounds/keyboard_sounds/osd-on.wav.import
addons/fancy_editor_sounds/keyboard_sounds/select-all.wav
addons/fancy_editor_sounds/keyboard_sounds/select-all.wav.import
addons/fancy_editor_sounds/keyboard_sounds/select-char.wav
addons/fancy_editor_sounds/keyboard_sounds/select-char.wav.import
addons/fancy_editor_sounds/keyboard_sounds/select-difficulty.wav
addons/fancy_editor_sounds/keyboard_sounds/select-difficulty.wav.import
addons/fancy_editor_sounds/keyboard_sounds/select-word.wav
addons/fancy_editor_sounds/keyboard_sounds/select-word.wav.import
addons/fancy_editor_sounds/keyboard_sounds/submit-select.wav
addons/fancy_editor_sounds/keyboard_sounds/submit-select.wav.import
addons/fancy_editor_sounds/LICENCE.md
addons/fancy_editor_sounds/plugin.cfg
addons/fancy_editor_sounds/plugin.gd
addons/fancy_editor_sounds/plugin.gd.uid
addons/fancy_editor_sounds/README.md
addons/fancy_editor_sounds/SoundEditorInfo.gd
addons/fancy_editor_sounds/SoundEditorInfo.gd.uid
addons/fancy_editor_sounds/SoundPlayerData.gd
addons/fancy_editor_sounds/SoundPlayerData.gd.uid
project.godot
